body {
    background: url("../images/case.jpg") no-repeat center;

}
.content {
    width: 1200px;
    text-align: center;
    margin: 0 auto;
}
header {
    width: 100%;
    height: 120px;
    background-color: #d63c5d;
    line-height: 120px;
    background: rgba(75, 75, 93, 0.85);
    
}
header .content {
    border-bottom: 2px solid rgba(255, 255, 255, 1);
}

nav>div {
    float: left;
}
nav ul {
    float: right;
}
header .content li {
    margin-right: 20px;
    float: left;
}
header .content li:last-child {
    margin-right: 0px;
}

header .content a {
    font-size: 14px;
    color: #fff;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;
}
header .content a:hover {
    color: #d63c5d;
}

section {
    width: 100%;
    height: 100%;
    padding-top: 180px;
    padding-bottom: 60px;
    background: rgba(75, 75, 93, 0.85);
}

#main-content h2 {
    display: block;
    color: #fff;
    font-size: 50px;
    text-align: center;

}
 #main-content ul {
     width: 1000px;
     height: 200px;
     margin: 50px auto 0;
     display: none;
}
#main-content ul.current {
    display: block;
}
#main-content ul li {
    float: left;
    padding: 0 96px;
    width: 333px;
    height: 130px;
    border-right: 2px solid #9a9a9a;
}
#main-content ul li:hover {
    cursor: pointer;

}
#main-content li span {
    display: block;
    width: 60px;
    height: 60px;
    font-size: 46px;
    font-family: "icomoon", sans-serif;
    margin: 0 auto;
    color: #d63c5d;
    text-align: center;
    line-height: 60px;
    -webkit-transition:all 1s;
    -moz-transition:all 1s;
    -ms-transition:all 1s;
    -o-transition:all 1s;

}
#main-content li span:hover {
    color: #fff;
}
#main-content li h3 {
    font-weight: 400;
    font-size: 26px;
    color:  #fff;
}
#main-content li p {
    margin-top: 10px;
    font-size: 14px;
    color: #9a9a9a;
}
#main-content ul li:last-child {
    border-right: none;
}