.main-button{
	position: fixed;
}
/*-------home-------*/
.home {
   position: relative;
}
.home .bg {
   height: 800px;
   background: url("../images/home-bg.jpg") no-repeat top center/cover;
   background-attachment: fixed; 
}
.home .content {
   width: 1140px;
   height: 350px; 
   padding: 10px;
   position: absolute;
   /*定位的盒子居中对齐*/
   left: 50%;
   margin-left: -570px;
   top: 200px;
}
.home .home-photo {
   width: 200px;
   height: 200px;
   margin: 0 auto;
   border: 5px solid #fafafa;
   border-radius: 50%;
   background: url("../images/home-photo.png") no-repeat top center/cover;
}
.home .home-photo:hover {
  animation: photo 1s;
}
.home .content h1 {
   padding: 10px;
   font-size: 46px;
   text-align: center;
   color: #fafafa;
}
.home .content p {
   padding: 5px;
   font-size: 12px;
   text-align: center;
   color: #fafafa;
}
/*-------infro-------*/
.infro {
   background-color: #ededed;
}
 .content {
   width: 1140px; 
   padding: 10px 10px 40px;
   margin: 0 auto; 
}
 .content h1 {
    font-size: 30px;
    line-height: 30px;
    width: 50%;
    text-align: center;
    color: #333;
    margin: 0 auto;
    font-weight: normal;
    margin-top: 50px;
}
 .content p {
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
    margin: 10px auto;
    margin-bottom: 50px;
    color: #8f8f8f;
}
 
.content ul li {
   float: left;
   width: 255px;
   height: 220px;
   margin-right: 30px;
  
}
.content ul li:last-child { 
   margin-right: 0;    
}

.infro .content > ul li span{
   font-family: "icomoon";
   font-size: 50px;
   text-align: center;
   line-height: 130px;
   color: #fafafa;
   display: block;
   width: 130px;
   height: 130px;
   margin: 10px auto;
   border-radius: 100%;
   background-color: #2f293c;
   cursor: pointer;
   transition: background 1s; 
}
.infro .content > ul li span:hover{
    background-color: #d63c5d;
    animation: photo 0.5s;
}
.content ul li h3{
	font-weight: normal;
	width: 50%;
	margin: 0 auto;
	text-align: center;
    color: #333;
}
 
/*-------skill-------*/
.skill span {
   font-family: "icomoon";
   font-size:60px;
   text-align: center;
   line-height: 130px;
   color: #d63c5d;
   display: block;
   width: 130px;
   height: 130px;
   margin: 0 auto;   
}
.skill .bg {
   height: 300px;
   background: url("../images/home-bg.jpg") no-repeat bottom  center/cover;
   background-attachment: fixed; 
}
/*-------experience-------*/
.experience .inner {
	width: 1100px; 
	height: 200px;
	margin-left: 10px;
	 overflow: hidden;
	 position: relative;
}
.experience .inner ul {
	position: absolute;
	top: 0;
	left: 0px; 
    width: 1000%;
}
.experience .inner li {
    float: left;
    width: 1100px;
    margin: 0;
}
.experience li h2 {
	text-align: center;
	color:  #d63c5d; 
}
.rectangle {
	margin: 0 auto;
	width: 50%;
	text-align: center;
}
.rectangle span {
	 display: inline-block;
	 width: 15px;
	 height: 3px;
	 margin: 30px 3px;
	 background-color:  #d63c5d;
	 border-radius: 20px;
	 opacity: 0.5; 
}
.rectangle span.current {
	opacity: 1;
}
.backTop {
    position: fixed;
    width: 36px;
    height: 36px;
    right: 25px;
    bottom: 25px;
    background-color: rgba(214,60,93,0.8);
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    font-weight: bolder;
    font-family: "icomoon", sans-serif;
    cursor: pointer;
    display: none;
    z-index: 100;
}
footer {
	background: url("../images/footer.jpg") no-repeat center/cover;
	 height: 300px; 
}
@keyframes photo {
  from {
    transform: scale(1);

  }
  to {
    transform: scale(1.2);
  }
}