*{
	padding: 0;
	margin: 0;
}
.jd {

    position: relative; 
}
.jd-inner {
     height: 480px;
     z-index: 999;
     position: relative;
}
.jd-col1 {
	width: 190px;
	height: 465px;
	background-color: gray;
	float: left;
	padding-top: 15px;
}
.jd-col1 li {
	padding-left: 10px;
	height: 28px;
	line-height: 28px;
}
.jd-col1 li:hover {
	background-color: #999395;
}

.jd-clo1 li a {
	color: #fff;
	font-size: 14px;
}

.jd-clo1 li span {
	color: #fff;
	font-size: 12px;
}
.jd-col2{
	width: 790px;
	height: 480px;
	float: left;
	margin-left: 10px;
}
.jd-col2-hd{
    height: 340px;
    margin-bottom: 10px;
    position: relative;
}
 
.jd-col2-bd div{
	width: 390px;
    height: 140px;
    float: left;
}
.jd-col2-bd div img {
	width: 100%;
}
.firstPic {
	margin-right: 10px;
}
.arr-l, .arr-r {
	position: absolute;
	width: 30px;
	height: 60px;
	top: 50%;
	margin-top: -30px;
    background: rgb(0,0,0,0.3);
    font-family: "icomoon";
    color: #fff;
    text-align: center;
    line-height: 60px;
    font-size: 25px;
}
.arr-l {
	left: 0;
}
.arr-r {
	right: 0;
}
.jd-col2-hd ol {
	position: absolute;
	bottom: 20px;
	width: 180px;
	height: 20px;
	left: 50%;
	margin-left: -90px;
	background: rgb(255,255,255,0.3);
	border-radius: 10px;
}
.jd-col2-hd ol li {
	width: 12px;
	height: 12px;
	background-color: #fff;
	border-radius: 50%;
	float: left;
	margin: 4px 5px;
	cursor: pointer;
} 
.jd-col2-hd .current {
	background-color: #f10215;
}
.jd-col3 {
	width: 190px;
	height: 480px;
	background-color: green;
	float: right;
	position: relative;
}
.user {
	width: 190px;
	height: 140px;
	background-color: white;
}
.user-infro {
	border: 1px solid white;
}
.user-infro .infro-img {
	position: absolute;
	width: 56px;
	height: 56px;
	left: 95px;
	margin-left:-28px;
	margin-top: -10px;
	border-radius: 50%; 
	box-shadow: 3px 6px 25px #c3c3c3;

 
}
.user-infro img {
	width: 100%;
	border-radius: 50%;
	border: 3px solid gray;

}
.user-inner {
	margin-top: 56px; 
	 text-align: center;
	 margin-bottom: 10px;
}
.user-profit {
text-align: center;
}
.user-profit a {
	display: inline-block;
	width: 70px;
	height: 25px;

	border-radius: 13%;
	background-color: black;
	font-size: 12px;
    color: #f10215;
    text-align: center;
    line-height: 20px;
    margin-right: 4px;
    box-shadow: 6px 8px 20px rgba(45,45,45,.15);
}
.user-profit a:hover {
	background-color: #f10215;
	color: #fff;
}
.news {
	font-size: 14px;
	color: gray;
	height: 126px;
	padding: 5px 15px 0;
}
.tab-hd {
	padding: 3px 0;
	position: relative;
}
.tab-hd a {
	margin: 0 4px;
}
.news .more1 {
	position: absolute;
	top: 6px;
	right: 0;

}
.tab-bd {
	margin-top: 10px;
}
.tab-bd li {
	height: 20px;
	line-height: 20px;
	white-space: nowrap;
    overflow: hidden;
}
.jd-service  {
	height: 209px;
	 background-color: skyblue; 
	width: 190px;
	overflow: hidden;
}
.jd-service  ul {
	width: 195px;
}
.jd-service li {
	width: 47px;
	height: 69px;
	/* background-color: purple; */
	float: left;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.jd-service li a {
	width: 100%;
	height: 100%;  /* 根据父亲 */
	/* height: auto; 针对于自己的高度和宽度 */
	display: block;
}
.jd-service  i {
	display: block;
	width: 24px;
	height: 24px;
	margin: 15px auto 8px;
	background: url(../images/sprite_fs@1x.png) no-repeat;
}
.jd-service  p {
	text-align: center;
}