<!DOCTYPE html>
<html>
<head>
	<title>快看漫画</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="shortcut icon" href="favicon.ico"  type="image/x-icon"/>
</head>
<body>
	<!-- 头部开始 -->
<header id="header">
	<nav class="header-nav">
		<!-- logo -->
		<div class="logo">
			<h1> 快看漫画</h1>
			<a href="#" title="快看漫画">
		        <img src="images/logo.png">      
		    </a>
		</div>
		<!-- 导航栏 -->
		<div class="nav-right">
			<ul>
				<li><a href="#">首页</a></li>
				<li><a href="#">APP下载</a></li>
				<li><a href="#">作者中心</a></li>
			</ul>
		</div>
		<!-- 用户模块 -->
		<div class="user-container">
			<ul>
				<li><a href="#">登录</a></li>
				<li><a href="#">注册</a></li>
				<li>
					<a href="#">关注</a>
					<i></i>
				</li>
			</ul>
		</div>
	</nav>
</header>
	<!-- 头部结束 -->
	<!-- 主体部分开始 -->
<div class="container clearfix">
	<div class="search">
		<input type="search" name="search" placeholder="搜索作品名，作者名">
		<button>搜索</button>
	</div>
	<div class="search-result">
        <ul>
        	<li>
        		<a href="#">
        			<img src="">
        		</a>
        		<div></div>
        		<div>
        			<span></span>
        			<span></span>
        		</div>
        	</li>
        </ul>
	</div>
	<div class="daily-recommend clearfix">
		<div class="hd ">
			<h2>
				<i class="ico">每日更新</i>
			</h2>
			<ul>
				<li><a href="#">周二</a></li>
				<li><a href="#">周三</a></li>
				<li><a href="#">周四</a></li>
				<li><a href="#">周五</a></li>
				<li><a href="#">周六</a></li>
				<li><a href="#">昨天</a></li>
				<li><a href="#">今天</a></li>
			</ul>
		</div>
		<div class="list clearfix">
			<ul>
				<li class="items clearfix">
					<div class="wrapper ">
						<div class="comic-img">
							<a href="#" title="黑夜有所斯" target="_blank">
								<img src="images/1.jpg" >
							</a>
						</div>
						<div class="comic-titile">
							<a href="#" title="黑夜有所斯" target="_blank">黑夜有所斯</a>
						</div>
						<div class="comic-option">
							<span>胡桃（主笔+编剧）</span>
							<div class="praise">
								<i>☺</i>
								213万
							</div>
						</div>
					</div>
				</li>
				<li class="items clearfix">
					<div class="wrapper ">
						<div class="comic-img">
							<a href="#" title="黑夜有所斯" target="_blank">
								<img src="images/1.jpg" >
							</a>
						</div>
						<div class="comic-titile">
							<a href="#" title="黑夜有所斯" target="_blank">黑夜有所斯</a>
						</div>
						<div class="comic-option">
							<span>胡桃（主笔+编剧）</span>
							<div class="praise">
								<i>☺</i>
								213万
							</div>
						</div>
					</div>
				</li>
				<li class="items clearfix">
					<div class="wrapper ">
						<div class="comic-img">
							<a href="#" title="黑夜有所斯" target="_blank">
								<img src="images/1.jpg" >
							</a>
						</div>
						<div class="comic-titile">
							<a href="#" title="黑夜有所斯" target="_blank">黑夜有所斯</a>
						</div>
						<div class="comic-option">
							<span>胡桃（主笔+编剧）</span>
							<div class="praise">
								<i>☺</i>
								213万
							</div>
						</div>
					</div>
				</li>
				<li class="items clearfix">
					<div class="wrapper ">
						<div class="comic-img">
							<a href="#" title="黑夜有所斯" target="_blank">
								<img src="images/1.jpg" >
							</a>
						</div>
						<div class="comic-titile">
							<a href="#" title="黑夜有所斯" target="_blank">黑夜有所斯</a>
						</div>
						<div class="comic-option">
							<span>胡桃（主笔+编剧）</span>
							<div class="praise">
								<i>☺</i>
								213万
							</div>
						</div>
					</div>
				</li>
				<li class="items clearfix">
					<div class="wrapper ">
						<div class="comic-img">
							<a href="#" title="黑夜有所斯" target="_blank">
								<img src="images/1.jpg" >
							</a>
						</div>
						<div class="comic-titile">
							<a href="#" title="黑夜有所斯" target="_blank">黑夜有所斯</a>
						</div>
						<div class="comic-option">
							<span>胡桃（主笔+编剧）</span>
							<div class="praise">
								<i>☺</i>
								213万
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="topic-category">
		
	</div>
</div>
	<!-- 主体部分结束 -->
	<!-- 底部开始 -->
<footer id="footer" class="footer">
	<div class="container">
		
	 
	<div class="server clearfix">
		<div class="server-l">
		<ul>
			<li><a href="#">首页</a></li>
			<li><a href="#">APP下载</a></li>
			<li><a href="#">关于快看</a></li>
			<li><a href="#">加入我们</a></li>
			<li><a href="#">我要投稿</a></li>
		</ul>
		<ul>
			<li><a href="#">首页</a></li>
			<li><a href="#">APP下载</a></li>
			<li><a href="#">关于快看</a></li>
			<li><a href="#">加入我们</a></li>
			<li><a href="#">我要投稿</a></li>
		</ul>
	    </div>	
		<div class="server-r">
			快看世界（北京）科技有限公司<br />	

	        全部信息 快看漫画 版权所有 未经许可，严禁转载<br />

	        Copyright © 2016 kuainkanmanhua.com All Rights Reserved<br />
		</div> 
	</div>

	<div class="comic-list clearfix"">
		<ul>
			<li><a href="#">友情链接</a></li>
			<li><a href="#">17K小说网</a></li>
			<li><a href="#">话本小说</a></li>
			<li><a href="#">鬼故事</a></li>
			<li><a href="#">摔角网</a></li>
			<li><a href="#">笑话大全</a></li>
			<li><a href="#">飞卢小说网</a></li>
			<li><a href="#">友情链接</a></li>
			<li><a href="#">17K小说网</a></li>
			<li><a href="#">话本小说</a></li>
			<li><a href="#">鬼故事</a></li>
			<li><a href="#">摔角网</a></li>
			<li><a href="#">笑话大全</a></li>
			<li><a href="#">17K小说网</a></li>
			<li><a href="#">话本小说</a></li>
			<li><a href="#">鬼故事</a></li>
			<li><a href="#">摔角网</a></li>
			<li><a href="#">笑话大全</a></li>
		</ul>
	</div>

	<div class="read">
		京公网安备 11010502035069号 | 京ICP备15052188号-2 | 网络文化经营许可证 京网文 [2016] 2280-262号
	</div>
	</div>
</footer>
	<!-- 底部结束 -->
</body>
</html>