/*先删除默认的内外边距*/
* {
	margin: 0;
	padding: 0;
}
body {
	background-color: rgb(245, 245, 245);
	 
}
li {
	list-style: none;/*取消li的小点*/
}
td a img{
    opacity: 0.8;
	width:140px;
    height:140px;
    border-radius: 15%;  
}
td a p{
	font-size: 14px;
}
/*顶部导航栏开始*/
.header {
	height: 60px;
	background-color: rgb(0,0,0);
}
.inner {
	width: 750px;
	height: 80px;
    margin:0 auto;
    line-height:60px; 
     
}
.logo{
	float: left;
}
.logo img{
	height: 60px;
}
.nav {
	float: left;
}
.nav li{
	float: left;
	margin: 0 20px;
    font-size: 16px;
}
.nav li a {
	color: rgb(187, 187, 187);
	text-decoration:none;/*取消下划线*/
}
.nav li a:hover {
	color: rgb(240, 240, 240);
}

/*顶部导航栏结束*/


/*banner开始*/
.banner {
	height: 300px;
	background:url(../images/banner.jpg) no-repeat top center;
}
/*banner结束*/

/*音乐主题模块开始 */
.song-topic {
	width: 730px;
	margin: 0 auto;
	border-right:1px solid rgb(187, 187, 187);
	border-left:1px solid rgb(187, 187, 187);
	background-color: white;
}


/*歌单类型开始*/
.song-type {
margin:0 auto;
line-height:45px; 
float: left; 
}
.pic{
	float: left;
}
.type{
	 float: left;
}
.song-type li{
	float: left;
	margin: 0 10px;
    font-size: 12px;
}
.song-type li a {
	color: rgb(187, 187, 187);
	text-decoration:none;/*取消下划线*/
}
.song-type li a:hover,
.content a:hover{
	text-decoration:underline;
}
/*歌单类型结束*/

/*歌单开始*/
.song-list {
   clear: both;
   border-top: 2px solid red;
   margin: 0 20px ;
}
.content{
	width:180px;
    height:180px; 
    margin:20px 0;

} 
.content a {
	color: black;
	text-decoration:none;/*取消下划线*/
	position: relative;
}
/*歌单结束*/
 
 /*音乐主题模块结束 */

 .audio-ft{
 	left: 0;
 	bottom: 0;
    position: absolute;
    width: 140px;
    background-color:none;
    opacity: 0.2;            
    
 }
 .audio-ft:hover{	 
    opacity: 0.8;               
 }
.footer {
	border-top: 1px solid rgb(187, 187, 187);
	height: 80px;
	background-color: rgb(245, 245, 245);
}
.footer-ct{
	width: 730px;
	margin: 20px auto;
	font-size: 12px;
    color:rgb(187, 187, 187);
}
