* {
	margin: 0;
	padding: 0;
}
body{
	background-color: rgb(245, 245, 245);
}
li {
	list-style: none;/*取消li的小点*/
}
 
td a p{
	font-size: 14px;
}
 
/*顶部导航栏开始*/
.header {
	height: 60px;
	background-color: rgb(0,0,0);
}
.inner {
	width: 750px;
	height: 80px;
    margin:0 auto;
    line-height:60px; 
     
}
.logo{
	float: left;
}
.logo img{
	height: 60px;
}
.nav {
	float: left;
}
.nav li{
	float: left;
	margin: 0 20px;
    font-size: 16px;
}
.nav li a {
	color: rgb(187, 187, 187);
	text-decoration:none;/*取消下划线*/
}
.nav li a:hover {
	color: rgb(240, 240, 240);
}

/*顶部导航栏结束*/


.content{
	width: 600px;
    background-color: rgb(187, 187, 187);
    opacity: 0.6;
	border: 1px solid #ccc;
	margin: 50px auto; 
	position: relative; 
}
.content dl dd,
.content dl dt{
	margin: 20px 15%;	 
}

 
.button{
    width: 150px; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
.button:hover{
	 background-color:  rgb(187, 187, 187);; 
}
.button1{
	 background-color: #4CAF50; 
	 margin-left: 17%;
}
.button2{
	 background-color: grey; 
}